.square-configurations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--triple-default-spacing);
    margin-top: var(--triple-default-spacing);
    max-width: fit-content;
}

.config-card {
    min-width: 16rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--block-color-secundary);
    padding: var(--double-default-spacing);
    border-radius: var(--default-border-radius);
    box-shadow: 0 2px 8px var(--shadow-color-primary);
}

.config-card h2 {
    text-align: center;
    margin-bottom: var(--default-spacing);
    color: var(--text-color-primary);
}

.config-hours {
    display: grid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: fit-content;
    gap: var(--default-spacing);
}

.hour-block {
    display: flex;
    flex-direction: column;
    padding: var(--default-spacing);
    border-radius: var(--default-border-radius);
    text-align: center;
    font-size: 14px;
    min-width: fit-content;
}

.hour-block-free {
    background-color: var(--button-color-primary-right); /* Default Free */
    color: var(--text-color-secondary);
}

.hour-block-pending {
    background-color: var(--button-color-third); /* Pending */
    color: var(--text-color-secondary);
}

.hour-block-booked {
    background-color: var(--button-color-secundary); /* Booked */
    color: var(--text-color-secondary);
}

.hour-block-denied {
    background-color: var(--button-color-primary-wrong); /* Denied */
    color: var(--text-color-secondary);
}


.hour-block h3{
    margin-bottom: var(--default-spacing);
}

.delete-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: var(--button-color-primary-wrong);
    transition: color 0.3s;
    margin-left: var(--triple-default-spacing);
}

.delete-button:hover {
    color: var(--button-color-primary-wrong-hover);
}

.config-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
